.academy {
  display: flex;
  justify-content: center;
  height: 60px;
  margin-top: 20px;

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    width: 110%;
    border-bottom: 1px solid @base-secondary;
  }

  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;

    &::before {
      display: none;
    }
  }
}

.academy__text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 36px;
  color: @base-grey;
  display: flex;
  align-items: baseline;
}

.academy__link {
  text-decoration: none;
  color: @base-grey;
  display: flex;
  align-items: center;
}

.academy__img {
  padding-left: 4px;
}
