.filter {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
}

.filter .price {
  // grid-column: 1 / -1;
  // margin: 0 auto;
}

.filter__button {
  width: 280px;
  height: 40px;
  background-color: @base-white;
  color: @base-primary;
  margin-top: 30px;
  margin-bottom: 30px;
  // grid-column: 1 / -1;
}

.filter__group {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.filter__title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.filter__list {
  list-style: none;
  padding: 0;
}

.filter__item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
