.filter {

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 40px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }
}

.filter__button {
  width: 280px;
  height: 40px;
  background-color: @base-white;
  color: @base-primary;
  margin-top: 30px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
    margin: 0 auto;
  }
}

.filter__group {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.filter__title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.filter__list {
  list-style: none;
  padding: 0;
}

.filter__item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
