.footer {
  background-color: @base-white;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.footer__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: @base-primary;
  margin-bottom: 0;

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    width: 110%;
    border-bottom: 1px solid @base-secondary;
  }

  @media (min-width: @tablet-width) {
    &::before {
      display: none;
    }
  }
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__item {
  padding: 8px 0;
}

.footer__link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: @base-black;
  text-decoration: none;
  padding: 8px 0;

  &:hover,
  &:focus {
    color: @primary-lighter;
  }

  &:active {
    color: @primary-darker;
  }

}

.footer .navigation {

  @media (min-width: @tablet-width) {
    grid-column: 1 / 2;
    min-width: max-content;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
  }
}
