.map {
  background-image: url("../img/map_bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: 420px;
  height: auto;
  display: inline-flex;
  background-position: center;

  @media (min-width: @tablet-width) {
    background-image: url("../img/map_bg-tablet.png");
    min-height: 480px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/map_bg-desktop.png");
    height: 540px;
  }
}
