.slider {
}

.slider__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;

  @media (min-width: @tablet-width) {
    font-size: 56px;
    line-height: 80px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.slider__link {
  text-decoration: none;
  color: @base-black;
}
