.container {
  margin: 0 auto; //центрируем
  padding: 0 20px; // обеспечиваем поля
  min-width: @mobile-width-only; // гарантируем, что контент не будет жаться меньше этой ширины
  max-width: @desktop-width; // и тянуться больше этой
  box-sizing: border-box; // позволяет применять свойства не только к обёрткам

  @media (min-width: @desktop-width) {
    padding: 0 40px;
  }
}
